/* =================================
  Fade In Hover
==================================== */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: .075em;
}



.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay1 {
  opacity: 1;
}



/* =================================
  Slide in from top
==================================== */

.overlay2 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay2 {
  bottom: 0;
  height: 100%;
}


/* =================================
  Blur Effect
==================================== */

.blureffect:hover {
        -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    transition: 1s ease;
}


/* =================================
 Grayscale
==================================== */

.grayscale {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.grayscale:hover {
    -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


/* =================================
 Becoming a Circle
==================================== */

.circle {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.circle:hover{
    border-radius: 50%;
    transition: .2s ease-in-out;
}
/*
.grayscale:hover {
    -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}*/
