/* =================================
  Base Styles
==================================== */

* {
	/* this keeps padding from increasing our box dimensions
	it will add padding inside the box rather than outside */
	box-sizing: border-box;
}

body {
	font-family: 'Karla', sans-serif;
	margin: 0;

}

#header {
	background-color: #FF6661;
	padding:50px;
	color: white;
	text-align: center
}


h1 {
	font-size: 54px;
}

a {
	color: white;
	padding: 10px;
	text-decoration: none;
}

a:hover{
	background-color: #D8E2ED;
	color: #FF6661;
}

h2 {
 color: #FF6661;
 font-size: 36px;
}

#section-1, #section-2{
	padding-left: 15%;
	padding-right: 15%;
	/*width: 50%;*/
}

footer {
	margin-top: 50px;
	background-color: #D8E2ED;
	padding:20px;
	text-align: center;
}
