
body{
    font-family: helvetica;
    font-weight: normal;
    color: #333333;
}

.container_12 {
    background: #ededed;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 250px;
    height: 100%;
}

.photos {
    width: 100%;
}

